In [2]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/international-football-results-from-1872-to-2017/goalscorers.csv
/kaggle/input/international-football-results-from-1872-to-2017/shootouts.csv
/kaggle/input/international-football-results-from-1872-to-2017/results.csv

In [12]:
df = pd.read_csv('/kaggle/input/international-football-results-from-1872-to-2017/goalscorers.csv')
df.head(20)

,date,home_team,away_team,team,scorer,minute,own_goal,penalty
0,1916-07-02,Chile,Uruguay,Uruguay,José Piendibene,44.0,False,False
1,1916-07-02,Chile,Uruguay,Uruguay,Isabelino Gradín,55.0,False,False
2,1916-07-02,Chile,Uruguay,Uruguay,Isabelino Gradín,70.0,False,False
3,1916-07-02,Chile,Uruguay,Uruguay,José Piendibene,75.0,False,False
4,1916-07-06,Argentina,Chile,Argentina,Alberto Ohaco,2.0,False,False
5,1916-07-06,Argentina,Chile,Chile,Telésforo Báez,44.0,False,False
6,1916-07-06,Argentina,Chile,Argentina,Juan Domingo Brown,60.0,False,True
7,1916-07-06,Argentina,Chile,Argentina,Juan Domingo Brown,62.0,False,True
8,1916-07-06,Argentina,Chile,Argentina,Alberto Marcovecchio,67.0,False,False
9,1916-07-06,Argentina,Chile,Argentina,Alberto Ohaco,75.0,False,False
10,1916-07-06,Argentina,Chile,Argentina,Alberto Marcovecchio,81.0,False,False
11,1916-07-08,Brazil,Chile,Brazil,Demóstenes Correia de Syllos,29.0,False,False
12,1916-07-08,Brazil,Chile,Chile,Hernando Salazar,85.0,False,False
13,1916-07-10,Argentina,Brazil,Argentina,José Durand Laguna,10.0,False,False
14,1916-07-10,Argentina,Brazil,Brazil,Manoel Alencar Monte,23.0,False,False
15,1916-07-12,Brazil,Uruguay,Brazil,Arthur Friedenreich,8.0,False,False
16,1916-07-12,Brazil,Uruguay,Uruguay,Isabelino Gradín,58.0,False,False
17,1916-07-12,Brazil,Uruguay,Uruguay,Jose Tognola,77.0,False,False
18,1917-09-30,Uruguay,Chile,Uruguay,Carlos Scarone,20.0,False,False
19,1917-09-30,Uruguay,Chile,Uruguay,Ángel Romano,44.0,False,False

In [6]:
import datetime as dt

In [11]:
type(df.date[0]) # need to convert to datetime

str

In [15]:
df['datetypo'] = pd.to_datetime(df.date, format='%Y-%m-%d') # https://strftime.org/ in this site

In [16]:
df.head(10)

,date,home_team,away_team,team,scorer,minute,own_goal,penalty,datetypo
0,1916-07-02,Chile,Uruguay,Uruguay,José Piendibene,44.0,False,False,1916-07-02
1,1916-07-02,Chile,Uruguay,Uruguay,Isabelino Gradín,55.0,False,False,1916-07-02
2,1916-07-02,Chile,Uruguay,Uruguay,Isabelino Gradín,70.0,False,False,1916-07-02
3,1916-07-02,Chile,Uruguay,Uruguay,José Piendibene,75.0,False,False,1916-07-02
4,1916-07-06,Argentina,Chile,Argentina,Alberto Ohaco,2.0,False,False,1916-07-06
5,1916-07-06,Argentina,Chile,Chile,Telésforo Báez,44.0,False,False,1916-07-06
6,1916-07-06,Argentina,Chile,Argentina,Juan Domingo Brown,60.0,False,True,1916-07-06
7,1916-07-06,Argentina,Chile,Argentina,Juan Domingo Brown,62.0,False,True,1916-07-06
8,1916-07-06,Argentina,Chile,Argentina,Alberto Marcovecchio,67.0,False,False,1916-07-06
9,1916-07-06,Argentina,Chile,Argentina,Alberto Ohaco,75.0,False,False,1916-07-06

In [19]:
df.at[0,'datetypo'].month

7

In [20]:
df.at[0,'datetypo'].year

1916

In [22]:
df['datetypo'].dt.year

0        1916
1        1916
2        1916
3        1916
4        1916
         ...
43184    2023
43185    2023
43186    2023
43187    2023
43188    2023
Name: datetypo, Length: 43189, dtype: int32

In [29]:
df23 = df[df.datetypo.dt.year == 2023]

In [31]:
df23[df23.scorer == 'Cristiano Ronaldo']

,date,home_team,away_team,team,scorer,minute,own_goal,penalty,datetypo
42413,2023-03-23,Portugal,Liechtenstein,Portugal,Cristiano Ronaldo,51.0,False,True,2023-03-23
42414,2023-03-23,Portugal,Liechtenstein,Portugal,Cristiano Ronaldo,63.0,False,False,2023-03-23
42475,2023-03-26,Luxembourg,Portugal,Portugal,Cristiano Ronaldo,9.0,False,False,2023-03-26
42478,2023-03-26,Luxembourg,Portugal,Portugal,Cristiano Ronaldo,31.0,False,False,2023-03-26
42663,2023-06-20,Iceland,Portugal,Portugal,Cristiano Ronaldo,89.0,False,False,2023-06-20
42951,2023-10-13,Portugal,Slovakia,Portugal,Cristiano Ronaldo,29.0,False,True,2023-10-13
42953,2023-10-13,Portugal,Slovakia,Portugal,Cristiano Ronaldo,72.0,False,False,2023-10-13
43006,2023-10-16,Bosnia and Herzegovina,Portugal,Portugal,Cristiano Ronaldo,5.0,False,True,2023-10-16
43007,2023-10-16,Bosnia and Herzegovina,Portugal,Portugal,Cristiano Ronaldo,20.0,False,False,2023-10-16
43064,2023-11-16,Liechtenstein,Portugal,Portugal,Cristiano Ronaldo,46.0,False,False,2023-11-16

In [33]:
df.drop('date', axis=1, inplace=True)

In [34]:
df

,home_team,away_team,team,scorer,minute,own_goal,penalty,datetypo
0,Chile,Uruguay,Uruguay,José Piendibene,44.0,False,False,1916-07-02
1,Chile,Uruguay,Uruguay,Isabelino Gradín,55.0,False,False,1916-07-02
2,Chile,Uruguay,Uruguay,Isabelino Gradín,70.0,False,False,1916-07-02
3,Chile,Uruguay,Uruguay,José Piendibene,75.0,False,False,1916-07-02
4,Argentina,Chile,Argentina,Alberto Ohaco,2.0,False,False,1916-07-06
...,...,...,...,...,...,...,...,...
43184,Greece,France,France,Youssouf Fofana,74.0,False,False,2023-11-21
43185,Kosovo,Belarus,Belarus,Dmitry Antilevsky,43.0,False,False,2023-11-21
43186,Romania,Switzerland,Romania,Denis Alibec,50.0,False,False,2023-11-21
43187,Wales,Turkey,Wales,Neco Williams,7.0,False,False,2023-11-21
43188,Wales,Turkey,Turkey,Yusuf Yazıcı,70.0,False,True,2023-11-21

In [37]:
df['year'] = df.datetypo.dt.year
df

,home_team,away_team,team,scorer,minute,own_goal,penalty,datetypo,year
0,Chile,Uruguay,Uruguay,José Piendibene,44.0,False,False,1916-07-02,1916
1,Chile,Uruguay,Uruguay,Isabelino Gradín,55.0,False,False,1916-07-02,1916
2,Chile,Uruguay,Uruguay,Isabelino Gradín,70.0,False,False,1916-07-02,1916
3,Chile,Uruguay,Uruguay,José Piendibene,75.0,False,False,1916-07-02,1916
4,Argentina,Chile,Argentina,Alberto Ohaco,2.0,False,False,1916-07-06,1916
...,...,...,...,...,...,...,...,...,...
43184,Greece,France,France,Youssouf Fofana,74.0,False,False,2023-11-21,2023
43185,Kosovo,Belarus,Belarus,Dmitry Antilevsky,43.0,False,False,2023-11-21,2023
43186,Romania,Switzerland,Romania,Denis Alibec,50.0,False,False,2023-11-21,2023
43187,Wales,Turkey,Wales,Neco Williams,7.0,False,False,2023-11-21,2023
43188,Wales,Turkey,Turkey,Yusuf Yazıcı,70.0,False,True,2023-11-21,2023

In [45]:
months = {1:'January', 2:'February', 3:'March', 4:'April', 5:'May', 6:'June', 7:'July', 8:'August', 9:'September', 10:'October', 11:'November',12:'December'}
df['month'] = df.datetypo.dt.month
df

,home_team,away_team,team,scorer,minute,own_goal,penalty,datetypo,year,month
0,Chile,Uruguay,Uruguay,José Piendibene,44.0,False,False,1916-07-02,1916,7
1,Chile,Uruguay,Uruguay,Isabelino Gradín,55.0,False,False,1916-07-02,1916,7
2,Chile,Uruguay,Uruguay,Isabelino Gradín,70.0,False,False,1916-07-02,1916,7
3,Chile,Uruguay,Uruguay,José Piendibene,75.0,False,False,1916-07-02,1916,7
4,Argentina,Chile,Argentina,Alberto Ohaco,2.0,False,False,1916-07-06,1916,7
...,...,...,...,...,...,...,...,...,...,...
43184,Greece,France,France,Youssouf Fofana,74.0,False,False,2023-11-21,2023,11
43185,Kosovo,Belarus,Belarus,Dmitry Antilevsky,43.0,False,False,2023-11-21,2023,11
43186,Romania,Switzerland,Romania,Denis Alibec,50.0,False,False,2023-11-21,2023,11
43187,Wales,Turkey,Wales,Neco Williams,7.0,False,False,2023-11-21,2023,11
43188,Wales,Turkey,Turkey,Yusuf Yazıcı,70.0,False,True,2023-11-21,2023,11

In [47]:
df.month = df.month.map(months)

In [48]:
df.head()

,home_team,away_team,team,scorer,minute,own_goal,penalty,datetypo,year,month
0,Chile,Uruguay,Uruguay,José Piendibene,44.0,False,False,1916-07-02,1916,July
1,Chile,Uruguay,Uruguay,Isabelino Gradín,55.0,False,False,1916-07-02,1916,July
2,Chile,Uruguay,Uruguay,Isabelino Gradín,70.0,False,False,1916-07-02,1916,July
3,Chile,Uruguay,Uruguay,José Piendibene,75.0,False,False,1916-07-02,1916,July
4,Argentina,Chile,Argentina,Alberto Ohaco,2.0,False,False,1916-07-06,1916,July

In [53]:
df[(df.year == 2022)& (df.month == 'December')]

,home_team,away_team,team,scorer,minute,own_goal,penalty,datetypo,year,month
42320,Canada,Morocco,Morocco,Hakim Ziyech,4.0,False,False,2022-12-01,2022,December
42321,Canada,Morocco,Morocco,Youssef En-Nesyri,23.0,False,False,2022-12-01,2022,December
42322,Canada,Morocco,Canada,Nayef Aguerd,40.0,True,False,2022-12-01,2022,December
42323,Costa Rica,Germany,Germany,Serge Gnabry,10.0,False,False,2022-12-01,2022,December
42324,Costa Rica,Germany,Costa Rica,Yeltsin Tejeda,58.0,False,False,2022-12-01,2022,December
...,...,...,...,...,...,...,...,...,...,...
42390,Argentina,France,Argentina,Ángel Di María,36.0,False,False,2022-12-18,2022,December
42391,Argentina,France,France,Kylian Mbappé,80.0,False,True,2022-12-18,2022,December
42392,Argentina,France,France,Kylian Mbappé,81.0,False,False,2022-12-18,2022,December
42393,Argentina,France,Argentina,Lionel Messi,109.0,False,False,2022-12-18,2022,December
42394,Argentina,France,France,Kylian Mbappé,118.0,False,True,2022-12-18,2022,December

In [57]:
leo = df[df.scorer == 'Lionel Messi']
cr7 = df[df.scorer == 'Cristiano Ronaldo']
print(len(cr7))
print(len(leo))

111
54