In [2]:
import pandas as pd   
import numpy as np
from pandas import Series

**Series**

In [3]:
# Series
obj = Series([6,7,9,10])
obj

0     6
1     7
2     9
3    10
dtype: int64

In [12]:
type(obj)

pandas.core.series.Series

In [13]:
print(obj.index) # obj.values <- values

RangeIndex(start=0, stop=4, step=1)

In [9]:
# We can change index
obj1 = Series([45,12,23,55], index=['a','b','c','d'])
obj1

a    45
b    12
c    23
d    55
dtype: int64

In [11]:
obj1[['d','b']]

d    55
b    12
dtype: int64

In [6]:
# We can math too
obj1[obj1>30]

a    45
d    55
dtype: int64

In [14]:
print(np.sum(obj1))
print(obj1.index)

Index(['a', 'b', 'c', 'd'], dtype='object')

In [8]:
np.square(obj1)

a    2025
b     144
c     529
d    3025
dtype: int64

**Dictionary to Series**

In [1]:
cars_dic = {'Malibu' : 45000,
            'Lacetti' : 30000,
            'BMW' : 60000,
            'Mazda' : 20000,
            'Cobalt' : 15000}
cars_dic

{'Malibu': 45000,
 'Lacetti': 30000,
 'BMW': 60000,
 'Mazda': 20000,
 'Cobalt': 15000}

In [5]:
car = Series(cars_dic)
type(car)

pandas.core.series.Series

In [6]:
car.index

Index(['Malibu', 'Lacetti', 'BMW', 'Mazda', 'Cobalt'], dtype='object')

In [8]:
# Nan
models = 'Isuzu','Malibu', 'Lacetti','Mers', 'BMW', 'Mazda', 'Cobalt'
models

('Isuzu', 'Malibu', 'Lacetti', 'Mers', 'BMW', 'Mazda', 'Cobalt')

In [9]:
car2 = Series(cars_dic,models)
car2

Isuzu          NaN
Malibu     45000.0
Lacetti    30000.0
Mers           NaN
BMW        60000.0
Mazda      20000.0
Cobalt     15000.0
dtype: float64

In [13]:
car2.isnull() # return True if value is NaN
#car2.notnull() # otherwise

Isuzu       True
Malibu     False
Lacetti    False
Mers        True
BMW        False
Mazda      False
Cobalt     False
dtype: bool

In [19]:
new_prices = Series({"Mers":5000, "Mazda":-3000, "Malibu":4500, "Cobalt":5200, 'Lacetti':-1200})
A = new_prices+car2 # add values according to values
A

BMW            NaN
Cobalt     20200.0
Isuzu          NaN
Lacetti    28800.0
Malibu     49500.0
Mazda      17000.0
Mers           NaN
dtype: float64

In [4]:
# free series
free_ser = Series()
free_ser

Series([], dtype: float64)

In [26]:
# Naming
A.name ='Autosalon'
A.index.name = 'Models'
A

Models
BMW            NaN
Cobalt     20200.0
Isuzu          NaN
Lacetti    28800.0
Malibu     49500.0
Mazda      17000.0
Mers           NaN
Name: Autosalon, dtype: float64

In [27]:
#Others
print(A.is_unique)
print(A.shape)
print(A.size)
print(A.hasnans) # check whether it has Nan or not
print(A.iloc[1]) # value in that index
print(A.loc['Cobalt']) # value in that index by name
# min(), max(),  mean() can be used too

False
(7,)
7
True
20200.0
20200.0